.hidden {
    display: none;
}

body {
    background-color: #fafafa;
    margin: 0px;
}


.grayScale {
    filter: grayscale(0);
}

.logoPic {
    width: 60px;
}

.header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2.3em;
    line-height: 1;
    font-weight: 400;
}


#photoOfMine {
    width: 280px;
    height: 295px;
    object-fit: cover;
    float: left;
    margin-right: 90px;
}

#textAboutMe {
    width: 90%;
    margin-right: 20px;
    font-size: 17px;
}

.progressBlock {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-element {
    width: 200px;
    height: 200px;
    text-align: center;
}

.flex-element div {
    display: block;
    margin: auto;
}

.skillName {
    text-align: center;
    font-size: 25px;
    color:#009688;
}

.years {
    text-align: center;
    margin-top: -15px;
    color: #616161;
}

.programmingPortfolio {
    width: 308px !important;
    filter: grayscale(1) !important;
}

.line {
    opacity: 0.5;
}

#sideNavMenu {
    position: fixed;
    top: 17px;
    color: #9e9e9e;
}
#sideNavMenu i {
    width: 200px;
}

.photoCategories {
    display: flex;
    justify-content: space-around ;
    padding: 40px;
    flex-wrap: wrap;
}

.imageTypes {
    object-fit: cover;
    height: 283px;
    width: 209px;
    margin: 15px 10px 0px 10px;
    cursor: pointer;
}

#modalBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(80, 80, 80, .5);

}
   #albumModal {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
       margin: auto;
       margin-top: 20px;
       border-radius: 2px;
       width: 70%;
       max-height: 680px;
       overflow: auto;
       background-color: #eeeeee;
       padding: 0px 40px 40px 40px;
   }

   .nameBar {
       width: 100%;
       height: 47px;
       border-radius: 0px 0px 17px 17px;
       text-align: center;
       background-color: #424242;
       font-size: 25px;
       color: white;
   }

   .imageGallery {
       object-fit: cover;
       width: 200px;
       height: 200px;
       margin: 20px;
       cursor: pointer;
   }








/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 320px) and (max-width: 480px) {
    #photoOfMine {
        display: block;
        margin: auto;
        width: 215px;
        height: 215px;
        float: none;
    }

    #textAboutMe {
        display: block;
        margin: auto;
        font-size: 15px;
    }

    
    #youtubeLink {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #photoOfMine {
        display: block;
        margin: auto;
        width: 245px;
        height: 245px;
        float: none;
    }

    #textAboutMe {
        display: block;
        margin: auto;
        font-size: 15px;
    }


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #photoOfMine {
        display: block;
        margin: auto;
        width: 245px;
        height: 245px;
        float: none;
    }

    #textAboutMe {
        display: block;
        margin: auto;
        font-size: 15px;
    }

    
}