body {
    background-color: #fafafa;
}


.grayScale {
    filter: grayscale(0);
}

.logoPic {
    width: 60px;
}

.header {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 2.3em;
    line-height: 1;
    font-weight: 400;
}


#photoOfMine {
    width: 280px;
    height: 295px;
    object-fit: cover;
    float: left;
    margin-right: 90px;
}

#textAboutMe {
    width: 90%;
    margin-right: 20px;
    font-size: 17px;
}

.progressBlock {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-element {
    width: 200px;
    height: 200px;
}

.flex-element div {
    display: block;
    margin: auto;
}

.skillName {
    text-align: center;
    font-size: 25px;
    color:#009688;
}

.years {
    text-align: center;
    margin-top: -15px;
    color: #616161;
}

.programmingPortfolio {
    width: 308px !important;
}

.line {
    opacity: 0.5;
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 320px) and (max-width: 480px) {
    #photoOfMine {
        display: block;
        margin: auto;
        width: 215px;
        height: 215px;
        float: none;
    }

    #textAboutMe {
        display: block;
        margin: auto;
        font-size: 15px;
    }

    
    #youtubeLink {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #photoOfMine {
        display: block;
        margin: auto;
        width: 245px;
        height: 245px;
        float: none;
    }

    #textAboutMe {
        display: block;
        margin: auto;
        font-size: 15px;
    }


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #photoOfMine {
        display: block;
        margin: auto;
        width: 245px;
        height: 245px;
        float: none;
    }

    #textAboutMe {
        display: block;
        margin: auto;
        font-size: 15px;
    }

    
}